.logo img{
  height: 100px;
  margin-left: -250px;
}

.IaconeUsuario img {
  height: 60px;
  width: 60px;
  margin-right: -150px;
}

.menu{
  padding: 0 20px !important;
  border-left: 1px solid #666 !important;
  text-transform: uppercase;
}

.menu:first-child{
  border-left: none !important;
}

.menu a{
  text-decoration: none;
  color: #666;
  font-size: 20px !important;
}

.menu a:hover{
  opacity: .7;
}

.carrosel img {
 height: 800px;
 width: 100%;
}

/* ProductCard () - ProductCard.js */

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.productCard {
  width: 250px;
  background: white;
  border-radius: 12px;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
  text-align: center;
}

.productCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.productCard h2 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
}

.productCard p {
  padding: 0 10px;
}

.productPrice {
  font-weight: bold;
  color: #1a8917;
  margin: 10px 0;
}

/* LoginPage() - LoginPage.js */

.loginContainer {
  display: flex;
  height: 100vh;
  background-color: #f3eeee;
  font-family: 'Segoe UI', sans-serif;
}

.loginLeft {
  background-color: #8da299;
  color: #222;
  padding: 40px;
  width: 35%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginLeft h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 30px;
}

.loginLeft p {
  font-size: 16px;
  margin-top: 20px;
}

.btnCadastrar {
  background-color: #adc5b9;
  border: none;
  border-radius: 2rem;
  padding: 10px 25px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.loginRight {
  position: relative;
  flex: 1;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-height: 100px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginInput,
.input {
  padding: 15px;
  border: none;
  background-color: #adc5b9;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.loginOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.loginOptions label input {
  margin-right: 6px;
}

.loginBtnEsqueceu {
  cursor: pointer;
}

.LoginbtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btnAvancar {
  background-color: #adc5b9;
  border: none;
  border-radius: 2rem;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

/* NavBarShop() - NavBarShop.js */

.ImgFltro {
  height: 25px;
  width: 25px;
  margin-bottom: 3px;
}

.ImgCoracao {
  height: 20px;
  width: 20px;
}

.ImgCarrinho {
  height: 20px;
  width: 20px;
}

.ImgCoracao.ativo {
  filter: brightness(0) saturate(100%) invert(33%) sepia(87%) saturate(426%) hue-rotate(330deg) brightness(100%) contrast(95%);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* ProductModal() - ProductModal.js*/

.modalProduto {
  background-color: #fff;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.productCard img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.modalContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  align-items: flex-start;
}

.modalGrid {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.miniatura {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.modalDetalhes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalEstrelas {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
}

.estrelaVazia {
  color: #ccc;
}

.ratingValue {
  background-color: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
}

.imagemPrincipal img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.modalImage img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.modalPreco {
  font-size: 20px;
  font-weight: bold;
}

.modalDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalDetails .preco {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.modalDetails h2 {
  margin-top: 0;
}

.modalDetails .descricao {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnAdd, .btnFav {
  background-color: #a4bfa6;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btnFav {
  background-color: #dce6dc;
}

.modalDescricao {
  font-size: 14px;
  color: #333;
}

.btnModal {
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
/* arrumando a navbar */
/* Imagem da logo */
.logo-img {
  height: 80px;
  object-fit: contain;
}

/* Ícone do usuário */
.usuario-img {
  height: 48px;
  object-fit: contain;
}

/* Menu central com estilo de texto */
.menu-text-links {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: 900px
}

.text-link {
  text-transform: uppercase;
  color: #A4A4A4;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

.separator {
  color: #A4A4A4;
  font-size: 18px;
  font-weight: 400;
  padding: 0 4px;
}

/* Navbar */
.navBarCustom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

/* Links das imagens */
.logo-link, .usuario-link {
  display: inline-block;
}




/* texto home - home.js*/

.Texto1 img{
  margin-top: 60px;
  height: 500px;
}

.Texto2 img{
  margin-top: 60px;
  height: 500px;
}

.Texto1 h3,
.Texto2 h3 {
  font-size: 24px;
  color: #2a6041; /* tom de verde para transmitir saúde e sustentabilidade */
  margin-bottom: 8px;
  font-weight: 700;
  margin-top: 60px;
}

.Texto1 p,
.Texto2 p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.Texto1 img,
.Texto2 img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Texto1,
.Texto2 {
  padding: 20px;
}




/*footer*/

.mainFooter {
  background-color: #5A7369;
  color: white;
  padding: 60px 20px 20px;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.colunaFooter {
  flex: 1 1 200px;
  min-width: 200px;
}

.colunaFooter h4 {
  color: white;
  margin-bottom: 15px;
}

.itemsFooter {
  list-style: none;
  padding: 0;
}

.itemsFooter li {
  margin-bottom: 8px;
  cursor: pointer;
}

.tags span {
  background: #A4A4A4;
  color: white;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
}

.subscribeForm {
  display: flex;
  margin-top: 10px;
}

.subscribeForm input {
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  flex: 1;
}

.subscribeForm button {
  background-color: #A8BFB5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.social a {
  margin-right: 10px;
  color: white;
  font-size: 18px;
}

.direitoFooter {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: white;
}
/* Footer */
.footerButton {
  display: inline-block;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}